<img src="http://img-aws.ehowcdn.com/560x560/photos.demandstudios.com/getty/article/184/124/87457875.jpg" height="250" width="250"
<p>Do at <time>8:30</time> every morning.</p>
    <img src="https://daks2k3a4ib2z.cloudfront.net/57510aa8aff2cb202fe7b06b/58585132342b7a0755832815_breakfast.jpg" height="250" width="250"

 
  <p>Do at <time>9:30</time> every morning.</p>
 <img src="https://i.pinimg.com/originals/51/cc/0c/51cc0c8e52b16e90a0cd5c7887f00cca.jpg" height="250" width="250"
  <img src="https://i.pinimg.com/originals/51/cc/0c/51cc0c8e52b16e90a0cd5c7887f00cca.jpg" height="250" width="250"

 
  <p>Do at <time>12:30</time> every afternoon.</p>
  <img src="http://www.gpvillage.com/thumbnail/1/1040/6228.gif" height= "250" width="250">
<p>Do at <time>2:30</time> every afternoon.</p>
<img src="http://perrylocal.org/wellsj/files/2011/03/homework.gif" height= "250" width="250">
<p>Do at <time>4:30</time> every afternoon.</p
 <img src="http://www.hotelroomsearch.net/im/hotels/bg/friends-house-24.jpg" height="250" width="250"

 
  <p>Go at <time>5:30</time> every afternoon.</p>
  <img src="http://www.trbimg.com/img-5824e9be/turbine/ct-thanksgiving-restaurants-open-dinner-take-out-chicago-2016" height="250" width="250"

 
  <p>Do at <time>8:30</time> every night.</p>
 
  